@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product
<div class="result-details">
    @if (ViewBag.IsUser)
    {
        <form method="post">
            @*<input type="hidden" value="@Request.Cookies["id"]" name="idClient"/>*@
            <input type="hidden" value="@Model.Id" name="idProduct"/>
            <input type="image" src="~/Images/buy.png" id="addProduct" class="btnNavigation">
        </form>
    }
    <h2>@Model.Name</h2>
    <p class="price">Price: @Model.Price ₴</p>
    <div class="imgDetails">
        <img src="@Model.Image"/>
    </div>
    <p>@Model.Details</p>
</div>
