@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Coach>
<h2>@Model[0]?.typeSports?.Name</h2>
<div class="row">
    <div class="col-3 bg">
        @foreach (var item in Model)
        {
            <button data-id="@item.Id" class="btn btn-success text-info font-weight-bold btn-ajax">@item.Account?.Client?.Name @item.Account?.Client?.Surname</button>
        }
    </div>
    <div class="col-9">
        <div id="result">

        </div>
    </div>
</div>
@section Scripts{
    <script>
     
        $('.btn-ajax').on('click', function() {
            GetList("@Url.Action("CreateCode")");
        });
        function GetList(url) {
            $.ajax({
                type: "Get",
                url: url,
                success: function(result) {
                    $('#result').html(result)
                    console.log(result);
                }
            })
        }
    </script>
}