@page
@model MyWebShop.Pages.ShowCategoriesModel
<div class="content">
    @foreach (var p in @Model.GetCategory())
    {
        <div class="product">
            <img src="@p.Image"/>
            <p class="nameProduct">@p.Name</p>
            <p class="priceProduct">@p.Price ₴</p>
            <form action="/Details">
                <input type="hidden" name="id" value="@p.Id"/>
                <input type="submit" value="Details" class="addBasket"/>
            </form>
        </div>
    }
</div>
